root = false

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.js,*.scss,*.html,*.svg,*.json.*.php]
indent_size = 4
indent_style = space

[package.json]
indent_size = 4
indent_style = space
