<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/PHPUnitBootstrap.php" 
		 colors="true" 
		 verbose="true" 
		 backupGlobals="false"
		 backupStaticAttributes="false"
		 mapTestClassNameToCoveredClassName="false"
		 beStrictAboutCoversAnnotation="false"
		 beStrictAboutOutputDuringTests="true"
		 beStrictAboutTestsThatDoNotTestAnything="true"
		 beStrictAboutTodoAnnotatedTests="true">

    <testsuites>
        <testsuite name="ImageManipulation Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    
    <logging>
		<log type="coverage-html" target="./tmp/report" lowUpperBound="35" highLowerBound="70"></log>
    </logging>
    
</phpunit>
